.dealer{
    margin: auto;
    width: 80%;
    padding-top: 50px;
    text-align: center;
}

.dealer_row1,.dealer_row2{
    margin:4%;
    display: flex;
    justify-content: space-around;
    
}
.dealer_col{
    transition:10ms;
}

.dealer_col:hover{
    box-shadow: 0 0 18px 0px grey;
    background: rgba(221,0,0,0.3);
}

@media(max-width:700px){
    .dealer_row1,.dealer_row2{
        flex-direction: column;
        margin-top: 0%;
    }
    .dealer_col{
        margin-bottom: 5%;
    }
    img{
        width: auto;
    }
}